*{ margin: 0; padding: 0;}
body {background-color: rgb(44, 44, 44);}

.nav{

    border: solid 1px red;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    .link{
        border: solid 1px rgb(0, 0, 128);
    }
    
    .Lfavicon{

        .favicon{
            border: solid 1px red;
            width: 45px;
        }
    }
}