*{box-sizing: border-box; margin: 0; padding: 0;}
body {background-color: rgb(44, 44, 44);}

.contenedor{

    display: grid;
    grid-template: 1fr / repeat(2,1fr);
    margin: 20px auto;
    width: 90%;
    /* border: solid 1px purple; */

    .Lfavicon{
        /* border: solid 1px red; */

        .favicon{
            /* border: solid 1px blue; */
            width: 45px;
            
        }
    }

    .nav{
        display: grid;
        grid-auto-flow: column;
        /* border: solid 1px yellow; */
        place-content: center end;
        gap: 1.5em;


        .Lnav{
            color: white;
            /* border: solid 1px rgb(0, 0, 128); */
        }
    
    }

}