*{box-sizing: border-box; margin: 0; padding: 0;}
body {background-color: rgb(44, 44, 44);}

.contenedor{

    display: grid;
    grid-template: 1fr / repeat(2,1fr);
    border: solid 1px purple;

    .Lfavicon{
        border: solid 1px red;

        .favicon{
            border: solid 1px blue;
            width: 45px;
            
        }
    }

    .nav{
        display: grid;
        grid-auto-flow: column;
        border: solid 1px yellow;
        justify-content: ;
        /* place-content: center space-evenly; */


        .Lnav{
            border: solid 1px rgb(0, 0, 128);
        }
    
    }

}