{% load static %}

<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title> Granados MX | {% block title %} {% endblock title %} </title>
    {% block script %} {% endblock script%}
    {% block css %} {% endblock css %}

  </head>

  <body>

    {% include 'navbar.html' %}

    {% block content %}{% endblock %}

  </body>

</html>