{% load static %}

{% url 'productos:productos' as productos %}

<nav class="dots m-1 mt-3 navbar navbar-expand-lg navbar-light bg-light">

    <div class="dots m-1 container-fluid">

        <a class="dots m-1 navbar-brand" href="{{productos}}"><img src="{% static 'logo.png' %}" class="logo-sm"></a>

        <div class="dots m-1 collapse navbar-collapse" id="navbarNav">

            <ul class="dots m-1 navbar-nav">

                <li class="dots m-1 nav-item">
                    <a class="dots m-1 nav-link {% if request.path == productos %} active {% endif %} " href="{{productos}}">Productos</a>
                </li>

                <li class="dots m-1 nav-item">
                    <a class="dots m-1 nav-link" href="">Otros</a>
                </li>

                <li class="dots m-1 nav-item">
                    <a class="dots m-1 nav-link" href="">Otros</a>
                </li>

                <li class="dots m-1 nav-item">
                    <a class="dots m-1 nav-link" href="">Otros</a>
                </li>

                <li class="dots m-1 nav-item">
                    <a class="dots m-1 nav-link" href="">Otros</a>
                </li>

                <li class="dots m-1 nav-item">
                    <a class="dots m-1 nav-link" href="">Otros</a>
                </li>

                <li class="dots m-1 nav-item">
                    <a class="dots m-1 nav-link" href="">Otros</a>
                </li>

            </ul>

        </div>

    </div>

</nav>